*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;
    height: 75px;
    background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    font-weight: 800;
}

img{
    height: 75px;
    width: 100px;

}

#main article{
    width: 90%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#menu ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#link:hover{
    color: #FF3CAC;
    border-bottom: 2px solid yellow;
}

#link{
    text-decoration: none;
    font-size: x-large;
    font-weight: 800;
    color: white;

}

#register{
    width: 40%;
    height: 70vh;
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
margin: 0% auto ;
position: relative;
top: 12%;
box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;

}

#register>h2{
    text-align: center;
    position: relative;
    top: 40px;
    color: firebrick;
}

#div1{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url("./Pics/Reg__bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}


#table{
    margin:9% auto;

}

#table>tr>td>label,input{
    margin: 10px;
    font-size: large;
    font-weight: 600;
    padding: 5px;
    border-radius: 7px;
}

.btns>button{
    padding: 12px 40px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    left: 140px;
    background-color: darkgreen;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

#login{
    width: 30%;
    height: 50vh;
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
margin: 0;
position: relative;
top: 18%;
left: 9%;
box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;
}

#div2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url("./Pics/login_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#table1>tr>td>label{
    font-size: large;
    font-weight: 600;
    padding: 5px;
    border-radius: 7px;
    color: white;
}

#table1{
    margin:11% auto;
}

#login>h2{
    text-align: center;
    position: relative;
    top: 40px;
    color: aqua;
}

/* Home Page */

#home-div{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}
#first-home{
    background: url("./Pics/home_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
    background-size: cover;
    height: 90vh;
}

#first-home>h2{
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgreen;
    background-image:linear-gradient(brown,grey);
    display: inline-block;
    padding: 8px;
    margin-left: 500px;
    margin-top: 100px;
    font-style: italic;
}

#first-home>h1{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-image:linear-gradient(yellow,blueviolet);
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
    margin-left: 170px;
}

#first-home>h3{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    background-image:linear-gradient(orange,red);
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
    margin-left: 470px;
}

#first-home>p{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    background-image:linear-gradient(pink,green);
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
    margin-left: 560px;
    
}

#home-overview{
    display: flex;

}

#baratnatyam>img{
    height: 60vh;
    width:400px;
    margin: 70px 80px;
}

#overview>p{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: blue;
    background-color: azure;
    padding: 20px;
    line-height: 40px;
    margin: 70px 40px 40px 40px;
}

#overview-heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 45%;
}

#overview>#note{
    color: red;
}

#step-main{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:70px 30px 20px 30px;
    color: darkmagenta;
}

#step-sub{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 30px 0 30px;
    color: navy
}

#start{
    margin-top:10px;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

}

#block1{
    height:44vh;
    width: 310px;
    border: 1px solid darkgreen;
    background-color: lightcoral;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

#block1:hover{
    transform: scale(1.1);
    transition: ease-in;
}

#block2{
    height:44vh;
    width: 310px;
    border: 1px solid darkgreen;
    background-color: lime;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

#block2:hover{
    transform: scale(1.1);
    transition: ease-in;
}

#block3{
    height:44vh;
    width: 310px;
    border: 1px solid darkgreen;
    background-color:gold;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

#block3:hover{
    transform: scale(1.1);
    transition: ease-in;
}

#block4{
    height:44vh;
    width: 310px;
    border: 1px solid darkgreen;
    background-color: khaki;
    margin: 23px;
    padding: 20px;
    border-radius: 10px;
}

#block4:hover{
    transform: scale(1.1);
    transition: ease-in;
}

.title{
    margin-left:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
    background-color: skyblue;
    padding: 10px;
    font-size: 30px;
    display: inline-block;
}

.content{
    margin: 10px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#online-section{
    background-image: url("./Pics/online_bg.webp");
    height: 100vh;
    width: 97%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin:20px 20px 0 20px;
    border-radius: 35px;
}

#divflex{
    display: flex;
}

#online-div{
    height: 300px;
    width: 700px;
    margin-left: 50px;
    margin-top: 30px;
}
#online-div>h1{
    color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}

#online-div>p{
    color: floralwhite;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

#gif>img{
    height: 400px ;
    width: 600px;
    margin-top: 40px;
    margin-left: 40px;
}

#online-box{
    display: flex;
    margin: 30px 20px;
}

.box1{
    height:200px;
    width: 16%;
    margin: 10px;
    background-color: cyan;

}

.box1>h3{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    text-align: center;
    color: darkred;
}

.box1>p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:12px 13px ;
    text-align: center;


}

.box1:hover{
    background-color: aliceblue;
}

#dance-forms{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    width: 97%;
    border-radius: 30px;
    height: 175vh;
    margin: 30px 20px 0 20px;
    padding: 20px;
    
}

#dance-forms>p{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

#dance-variety{
    display: flex;
    flex-wrap: wrap;
}

.figure{
    margin: 30px auto;
    

}
.figure>img{
    height: 300px;
    width: 300px;
}
.figure>figcaption{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin-top: 10px;
}

#gallery{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
width: 97%;
    border-radius: 30px;
    height: 154vh;
    margin: 40px 20px 0 20px;
    padding: 20px;

}

#gallery>p{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: navy;
}

#photos{
    display: flex;
    flex-wrap: wrap;

}
#photos>img{
    height: 300px;
    width:30%;
    margin:20px
}

#home-footer{
    background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 45vh;
width: 100%;
margin-top: 20px;
display: flex;
    
}

#footer-div1{
    width: 700px;
    
}
#ul-div{
    display: flex;
    justify-content: space-around;
    

}

#ul-div>.li-div{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 70px;
    margin-left: 20px;
    color: whitesmoke;
    padding: 8px;
}

#ul-div>.li-div:hover{
    color: chartreuse;
    cursor: pointer;
}

#footer-div1>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    margin-left: 33px;
    color: lightcoral;
}

#footer-div2{
    display: flex;
    width: 500px;
    margin-top: 68px;
    margin-left: 180px;

}

#footer-div2>h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: medium;
    margin-right: 40px;
    position: relative;
    left: 140px;
}

.logo-div{
    margin-top: 35px;
    
}

.logo-div>span{
    margin: 13px;
    color: beige;
    padding: 5px;
}

.logo-div>span:hover{
    color: #2BFF88;
    cursor: pointer;
}


/* About Us */

#about-main{
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}


#section-1{
    background-image: url("./Pics/about_bg.webp");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 90vh;
}
 


#about-us>h1{
 color: blue;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 80px;
background-image:linear-gradient(red,orange,yellow);
 padding: 8px;
 display: inline-block;
 margin:  50px;
}

#dance-group>img{
    height: 400px;
    width: 500px;
    margin-left: 100px;
}

#second-div{
    display: flex;
}

#about-para>p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    background-image:linear-gradient(pink,orange);
    display: inline-block;
    padding: 20px;
    margin-right: 40px;
    margin-left: 80px;
    margin-top: 5px;
    line-height: 30px;
}

#section-2>h2{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: blue;
padding: 8px;
margin: 50px 50px 30px 50px;

}

#founder-div{
    display: flex;
}

#founder-para{
    width: 800px;
    margin-left: 40px;
    margin-right: 100px;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    color: darkblue;
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
padding: 20px;

}

#founder-para>p{
    margin-bottom: 10px;
}

#founder-pic>img{
    height: 70vh;
    width: 470px;
    margin-top: 80px;
}

#section-3{
    background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
width: 97%;
margin: 40px 20px 0 20px;
padding: 20px;
border-radius: 30px;
height: 88vh;


}

#section-3>h2{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    color: black;
    padding: 8px;
margin: 10px 50px 30px 50px;
}

#cofounder-div{
    display: flex;
}

#cofounder-pic>img{
    height: 60vh;
    width: 470px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 100px;
}

#cofounder-para{
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    color:darkgreen;
    margin-right: 50px;
    margin-top: 70px;
}


#section-4{
    margin-top: 30px;
}

#section-4>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 50px;
    color: darkmagenta;
}

#award-divs{
    margin: 13px 25px 13px 25px;
    display: flex;
    
}

.award-drama{
    width: 23%;
    height:55vh;
    margin-left: 14px;
    margin-right: 12px;
    background: #30E8BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 8px;
}

.award-drama:hover{
    background: #c0c0aa;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.award-drama>img{
    width:320px;
    margin: 10px 9px;
    height: 230px;
}

.award-drama>p{
    font-size:18px;
    margin:14px;
    color: navy;
    text-align: center;
}

#section-5{
    height:366vh;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    background: #A770EF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 35px;
}

#section-5>h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: brown;
    padding: 10px;

}
#section-5>p{
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}
#link-video{
    margin-left: 670px;
    font-size: 20px;
    margin-bottom: 30px;
}

.video-size>video{
    height: 65vh;
    width: 750px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.video-div{
    
    display: flex;
    justify-content: center;
}
.video-para{
    margin: 110px 50px 10px 50px;
    
}
.video-para>p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.video-para>button{
    padding: 16px 25px;
    font-size: 20px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 20px;
}
.video-para>button:hover{
    cursor: pointer;
}


/* Course Page */
#course-div{
    background-image: linear-gradient( 359.8deg,  rgba(252,255,222,1) 2.2%, rgba(182,241,171,1) 99.3% );
    height: auto;
}
#course-section1{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url("./Pics/course-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 90vh;
    padding: 50px;
    text-align: center;
}

#course-section1>p{
    color: #85FFBD;
    font-size: 45px;
    margin:40px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#course-section1>h1{
    color: #FA8BFF;
    font-size: 60px;
    margin-bottom: 40px;
}
#course-mode{
    display: flex;
    justify-content: space-evenly;
}
.mode{
    width: 250px;
    height: 250px;
    margin: 20px;
    background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mode>p{
    margin: 115px auto;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    font-weight: 800;
}

.mode:hover{
    transform: scale(1.2);
    transition: ease-in-out;
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#course-section2{
    padding: 50px;
}

#course-section2>p{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5D26C1;
    text-align: center;
    margin: 20px;
}

#p-bold{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 13px;
    margin-bottom: 5px;
}
#course1{
    display: flex;
}
#course1>div>p{
    color: navy;
    font-size: 17px;
    margin: 5px;
}

#course-benefits>li{
    color: navy;
    font-size: 17px;
    margin: 5px;
}
.book-btn{
    padding: 12px 19px;
    margin: 15px;
    background-color:gold;
    border-radius: 8px;
    color: darkslategray;

}
.book-btn:hover{
    cursor: pointer;
}

#course1>img{
    height: 67vh;
    width: 530px;
    margin: 18px 100px;
}

#course-section3{
    padding: 50px;
}
#course-section3>p{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5D26C1;
    text-align: center;
    margin-bottom: 20px;
}
#course2-div{
    display: flex;
}
#course2-div>div>p{
    color: navy;
    font-size: 17px;
    margin :10px 20px;
}
#course2>img{
    height: 68vh;
    width: 550px;
    margin: 18px 70px;
}



#course-section4{
    padding: 50px;
}
#course-section4>p{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5D26C1;
    text-align: center;
    margin-bottom: 20px;
}
#course3-div{
    display: flex;
}
#course3-div>div>p{
    color: navy;
    font-size: 17px;
    margin :10px 20px;
}
#course3>img{
    height: 77vh;
    width: 580px;
    margin: 18px 70px;
}


#online-course{
    width: 98%;
    height:204vh;
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
    margin:0 auto;
    border-radius: 30px;
}
#course-section5{
    padding: 40px 50px;
}
#course4-div>div>p{
    color: navy;
    font-size: 17px;
    margin :18px 20px;
}
#course4-div{
    display: flex;
}
#course4>img{
    height: 73vh;
    width: 580px;
    margin-top:28px;
    margin-left: 50px;
    margin-right: 70px;
}



#course-section6{
    padding: 40px 50px;

}
#course5-div>div>p{
    color: navy;
    font-size: 17px;
    margin :18px 20px;
}
#course5-div{
    display: flex;
}
#course5>img{
    height: 77vh;
    width: 600px;
    margin-top:70px;
    margin-left: 70px;
    margin-right: 50px;
}







/* Admin Side Bar */
#section-sidebar{
    background: #f4c4f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
width:330px;
height: 90vh;
}

#adminsidebar-div{
    padding: 30px;
    text-align: center;
}

#adminsidebar-div>ul>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 25px;
}

#adminsidebar-div>ul>li{
    list-style-type: none;
    padding: 19px 13px 19px 13px;
    border-bottom: 1px solid blue;

}

.admin-Link{
    text-decoration: none;
    color: darkred;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.admin-Link:hover{
    color: red;
}

#manager-register{
    display: flex;
}

#manager-registerform{
    width: 50%;
    height: 70vh;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
margin: 9vh auto ;
box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;

}


#admin-dashboard{
    display: flex;
}

#mainbar{
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

width: 100%;
height: 90vh;
}

#mainbar>p{
    margin: 5vh auto;
    text-align: center;
    color: #FFFB7D;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form-reg>h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    color: yellow;
    padding-top: 20px;
}

#table2{
 margin: 3vh auto;
 
}

#table2>tr>td>label{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

/* View Academy Manager */

#view-block{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#academymanager-card{
    background-color: orange;
    margin: 20px 40px;
    text-align: center;
    width: 300px;
    height: 250px;
    padding: 20px;
}

#academymanager-card>p{
    margin: 8px;
}

#view-link{
    padding: 10px 18px;
    text-decoration: none;
    background-color: lime;
    font-style: oblique;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

#view-button{
    margin-top: 10px;
}

#viewacademy-manager>p{
    font-size: 40px;
    display: inline-block;
    margin: 2vh 26%;
    color: yellow;
    
}

/* View Details */
#view-managerblock>p{
    font-size: 40px;
    margin-top: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #B5FFFC;
    text-align: center;
}

#managers-div{
    margin: 3vh 33%;
    background-color: lightpink;
    padding: 30px;
    width: 400px;
    height: 40vh;
    text-align: center;

}

#managers-div>p{
    font-size: 17px;
    margin-top: 10px;
    font-weight: 400;
}

#view-buttons{
    margin-top: 10px;
}



#delete-btn{
    background-color: red;
    color: white;
    padding: 10px 16px;
    margin:10px;
    border-radius: 8px;
}
#delete-btn:hover{
    cursor: pointer;
}

#green-btn{
    background-color: green;
    color: white;
    padding: 10px 16px;
    margin:10px;
    border-radius: 8px;
}
#green-btn:hover{
    cursor: pointer;
}

#yellow-btn{
    background-color: yellowgreen;
    color: black;
    padding: 10px 16px;
    margin:10px;
    border-radius: 8px;
}
#link-id{
    text-decoration: none;
    color: black;
}
#yellow-btn:hover{
    cursor: pointer;
}

/* Add Academy */
#register-academy{
    width: 40%;
    height: 52vh;
    background: #ff6e7f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

margin: 18vh auto ;
box-shadow: 8px 8px 8px rgba(0,0,0,0.4) ;

}

#register-academy>h2{
    text-align: center;
    position: relative;
    top: 32px;
    color: darkblue;
}

/* view academy */
#academy-card{
    background-color: yellow;
    margin: 20px 30px;
    text-align: center;
    width: 320px;
    height: 250px;
    padding: 16px;
}
#academy-card>p{
    margin: 12px;
}
#academy-manager>p{
    font-size: 40px;
    display: inline-block;
    margin: 2vh 32%;
    color: linen;
    
}

/* view each academy details */
#academy-div{
    margin: 7vh 33%;
    background-color: lightgrey;
    padding: 30px;
    width: 400px;
    height: 37vh;
    text-align: center;

}

#academy-div>p{
    font-size: 17px;
    margin-top: 12px;
    font-weight: 400;
}
#view-academyblock>p{
    font-size: 40px;
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: linen;
    text-align: center;
}

/* View Branch details */
#branch-card{
    background-color:#21D4FD;
    margin: 20px 30px;
    text-align: center;
    width: 320px;
    height: 250px;
    padding: 16px;
    color: black;
}
#branch-card>p{
    margin: 12px;
}


/* View Courses */
#course-card{
    background-color:#fc67fa;
    margin: 20px 40px;
    text-align: center;
    width: 300px;
    height: 225px;
    padding: 20px;
}
#course-card>p{
    margin: 12px;
}

/* View Each Course Details */
#vieweachcourse-div{
    margin: 7vh 33%;
    background-color: lightgrey;
    padding: 30px;
    width: 380px;
    height: 33vh;
    text-align: center;

}

#vieweachcourse-div>p{
    font-size: 17px;
    margin-top: 12px;
    font-weight: 400;
}

#user-color{
    color: Red;
    text-align: center;
    font-size: 43px;
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#course-usercard{
    background-color:#fc67fa;
    margin: 20px 30px;
    text-align: center;
    width: 300px;
    height: 225px;
    padding: 20px;
}

#course-usercard>p{
    margin: 12px;
}
